<div class="w3-content" style="max-width:1532px;">
  <div class="w3-row-padding w3-padding-16" *ngFor="let accommodation of accommodations">
      <app-accommodation *ngIf="(accommodation.Place.Name == name || name==null) && (accommodation.Approved == true)" [accommodation]="accommodation"></app-accommodation>
  </div>
</div>
<div style="padding: 50px"> 
  <a [routerLink]="['/new-accommodation']" class="w3-bar-item w3-button w3-red w3-mobile" >New Accommodation</a>
  <a [routerLink]="['/unapproved-accommodations']" class="w3-bar-item w3-button w3-red w3-mobile" >Unapproved Accommodations</a>
</div>