<div class="w3-content" style="max-width:1532px;">
  <div class="w3-row-padding w3-padding-16" *ngFor="let reservation of roomReservations">
      <div class="w3-third w3-margin-bottom">
      <div class="w3-container w3-white">
        <h3>{{reservation.startDate}}</h3>
        <h6>{{reservation.endDate}}</h6>
        <p>{{reservation.timeStamp}}</p>
        <p>{{reservation.room.id}}</p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
        <button class="w3-button w3-block w3-black w3-margin-bottom" (click)="Delete(reservation)">Delete</button>
    </div>
  </div>
</div>