<div class="w3-content" style="max-width:1532px;">
  <ul *ngFor="let place of places">
    <li *ngIf="place.Region.Id == regionId">
        <a [routerLink]="['../../accommodation-list/'] + place.Name">{{place.Name}}</a>
        <button (click)="showModal(true, place)" class="w3-button w3-red w3-margin-bottom">Edit</button>
        <button (click)="deletePlace(place)" class="w3-button w3-red w3-margin-bottom">Delete</button>
        <div [id]="place.Id" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-red">
            <span (click)="showModal(false, place)" class="w3-button w3-display-topright">&times;</span>
            <div class="w3-container">
              <h2>Edit Place</h2>
            </div>
            <form  #f="ngForm" (ngSubmit)="editPlace(f.value, f)">
            <div class="w3-container w3-white w3-padding-16">
                  <div class="w3-row-padding" style="margin:0 -16px;">
                    <div class="w3-half w3-margin-bottom">
                      <label>Name</label>
                      <input class="w3-input w3-border" [ngModel]="place.Name" type="text" name="Name" required ngModel>
                    </div>
                  </div>
                  <div class="w3-row-padding" style="margin:8px -16px;">
                  </div>
                  <button class="w3-button w3-dark-grey" type="submit">Edit</button>
              </div>
              <input [ngModel]="place.Id" type="hidden" name="Id" required ngModel>
              <input [ngModel]="place.Region" type="hidden" name="Region" required ngModel>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div style="padding: 50px"> 
    <a [routerLink]="['/new-place/'] + regionId" class="w3-bar-item w3-button w3-red w3-mobile" >New Place</a>
  </div>
</div>