<div *ngIf="accommodation">
 <h2>{{accommodation.Name}} details!</h2>
  <div>
    <label>ID: </label>{{accommodation.Id}}
  </div>
   <div>
    <label>Name: </label>{{accommodation.Name}}
   </div>
   <div>
    <label>Description: </label>{{accommodation.Description}}
   </div>
   <div>
    <label>Address: </label>{{accommodation.Address}}
   </div>
   <div>
    <label>Accommodation Type: </label>{{accommodation.AccomodationType.Name}}
   </div>
   <div>
    <label>Place: </label>{{accommodation.Place.Name}}
   </div>
   <div>
    <label>Owner: </label>{{accommodation.Owner.Email}}
   </div>
   <div>
     <button (click)="showComments()">Show comments</button>
   </div>
   <div id="comms" *ngIf="showComm">
     <app-comment-list [accommodation]="accommodation"></app-comment-list>
   </div>
   <div>
     <app-room-list [accommodation]="accommodation"></app-room-list>
    <button (click)="goBack()">Back</button>
  </div>
</div>
