<div *ngIf="accommodation">
 <h2>{{accommodation.Name}} details!</h2>
  <div>
    <label>ID: </label>{{accommodation.Id}}
  </div>
   <div>
    <label>Name: </label>{{accommodation.Name}}
   </div>
   <div>
    <label>Description: </label>{{accommodation.Description}}
   </div>
   <div>
    <label>Address: </label>{{accommodation.Address}}
   </div>
   <div>
    <label>Accommodation Type: </label>{{accommodation.AccomodationType.Name}}
   </div>
   <div>
    <label>Place: </label>{{accommodation.Place.Name}}
   </div>
   <div>
    <label>Owner: </label>{{accommodation.Owner.Email}}
   </div>
   <div>
     <a href="javascript:;" (click)="showComments()">Show comments</a>
   </div>
   <div id="comms" *ngIf="showComm">
     <app-comment-list [accommodation]="accommodation"></app-comment-list>
   </div>
   <div>
     <app-room-list [accommodation]="accommodation"></app-room-list>
  </div>
  <div style="padding: 50px"> 
    <a [routerLink]="['/new-room/'] + id" class="w3-bar-item w3-button w3-red w3-mobile" >New Room</a>
  </div>
</div>
