<div class="w3-third w3-margin-bottom">
      <img src="" alt={{accommodation.Place.Name}} style="width:100%">
      <div class="w3-container w3-white">
        <h3>{{accommodation.Place.Name}}</h3>
        <h6>{{accommodation.Name}}</h6>
        <p>{{accommodation.Description}}</p>
        <p>{{accommodation.Address}}</p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
        <button class="w3-button w3-block w3-black w3-margin-bottom" (click)="gotoDetail(accommodation.Id)">Details</button>
        <button class="w3-button w3-block w3-black w3-margin-bottom"(click)= "showModal(true)">Edit</button>
        <button class="w3-button w3-block w3-black w3-margin-bottom" (click)="deleteAccommodation(accommodation)">Delete</button>
        <button class="w3-button w3-block w3-black w3-margin-bottom" (click)="showModal2(true, accommodation)">Google maps</button>
      </div>
  </div>
<div [id]="accommodation.Id" class="w3-modal">
 <div class="w3-modal-content">
   <div class="w3-red">
     <span (click)="showModal(false)" class="w3-button w3-display-topright">&times;</span>
     <div class="w3-container">
      <h2>Edit Accommodation</h2>
    </div>
    <form  #f="ngForm" (ngSubmit)="editAccommodation(f.value, f)">
    <div class="w3-container w3-white w3-padding-16">
          <div class="w3-row-padding" style="margin:0 -16px;">
            <div class="w3-half w3-margin-bottom">
              <label>Name</label>
              <input class="w3-input w3-border" [ngModel]="accommodation.Name" type="text" name="Name" required ngModel>
            </div>
            <div class="w3-half">
              <label>Code</label>
              <input class="w3-input w3-border" [ngModel]="accommodation.Description" type="text" name="Description" required ngModel>
            </div>
            <div class="w3-half">
              <label>Address</label>
              <input class="w3-input w3-border" [ngModel]="accommodation.Address" type="text" name="Address" required ngModel>
            </div>
          </div>
          <div class="w3-row-padding" style="margin:8px -16px;">
          </div>
          <button class="w3-button w3-dark-grey" type="submit">Edit</button>
      </div>
      <input [ngModel]="accommodation.Id" type="hidden" name="Id" required ngModel>
      <input [ngModel]="accommodation.AccommodationType" type="hidden" name="AccommodationType" required ngModel>
      <input [ngModel]="accommodation.Place" type="hidden" name="Place" required ngModel>     
     </form>
   </div>
 </div>
</div>
<div [id]="accommodation.Place" class="w3-modal">
 <div class="w3-modal-content">
   <div class="w3-red">
     <span (click)="showModal2(false, accommodation)" class="w3-button w3-display-topright">&times;</span>
     <div class="w3-container">
      <h2>On Google map</h2>
    </div>
    <div class="container">
          <div style="width:50%; margin: 0 auto">
            <map [mapInfo]="mapInfo"></map>
          </div>
    </div>
   </div>
 </div>
</div>