<div class="w3-third w3-margin-bottom">
      <img src="" alt={{accommodation.Place.Name}} style="width:100%">
      <div class="w3-container w3-white">
        <h3>{{accommodation.Place.Name}}</h3>
        <h6>{{accommodation.Name}}</h6>
        <p>{{accommodation.Description}}</p>
        <p>{{accommodation.Address}}</p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
        <button class="w3-button w3-block w3-black w3-margin-bottom" (click)="gotoDetail(accommodation.Id)">Details</button>
        <button class="w3-button w3-block w3-black w3-margin-bottom">Edit</button>
        <button class="w3-button w3-block w3-black w3-margin-bottom">Delete</button>
      </div>
  </div>