 <!-- Navigation Bar -->
  <div class="w3-bar w3-white w3-large">
    <a href="home" [routerLink]="['/home']" routerLinkActive="active" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-bed w3-margin-right"></i>Home</a>
    <a href="accommodation" [routerLink]="['/accommodation']" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile">Accommodation</a>
    <a href="#contact" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Book Now</a>
  </div>
<router-outlet></router-outlet>