<div class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="./assets/images/background-hotel.jpg" alt="The Hotel" style="min-width:1000px" width="1500" height="800">  
     <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-home w3-margin-right"></i>Choose Place</h2>
    </div>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div class="w3-container w3-white w3-padding-16">
        <div class="w3-row-padding" style="margin:0 -16px;">
        </div>      
        <div class="w3-row-padding" style="margin:8px -16px;">         
            <div class="w3-half">
            <label><i class="fa fa-place"></i>Places</label>          
            <input type="text" name="name" list="placename" ngModel>
            <datalist id="placename">
              <option *ngFor="let place of places" data-value={{place.Name}}></option>
            </datalist>
            </div>
          </div>
        <button class="w3-button w3-dark-grey" type="submit" ><i class="fa fa-search w3-margin-right" ></i> Search</button>
      </div>
     </form>
       <div class="container">
          <div style="width:50%; margin: 0 auto">
            <map [mapInfo]="mapInfo"></map>
          </div>
        </div>
  </div>
</div>
