<div class="w3-container w3-white">
  <ul>
    <li *ngFor="let accommodationType of accommodationTypes">
      <div class="w3-container w3-white">
      <p>{{accommodationType.Name}}</p>
      <button class="w3-button w3-block w3-black w3-margin-bottom">Edit</button>
        <button class="w3-button w3-block w3-black w3-margin-bottom">Delete</button>
      </div>
    </li>
  </ul>
  <div style="padding: 50px"> 
    <a [routerLink]="['/new-accommodationType']" class="w3-bar-item w3-button w3-red w3-mobile" >New Accommodation Type</a>
  </div>